@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
body, html {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*COLORS*/
/*CORE RULES*/
.container, .container-small {
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

.container-small {
  max-width: 600px;
}

a {
  text-decoration: none;
  font-style: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  width: 120px;
  height: 33px;
}

.link-cyan {
  color: white;
  background-color: #2acfcf;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-weight: bold;
}

.link-cyan:hover {
  background-color: #9ce3e2;
}

p {
  color: #9e9aa7;
}

.hide {
  visibility: hidden;
}

.red-border {
  border-color: #f46262;
}

header .top-bar {
  background: white;
  height: 120px;
}

header .top-bar .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-bar .container a {
  font-size: 16px;
  color: #9e9aa7;
  font-weight: bold;
}

header .top-bar .container a:hover {
  color: black;
}

header .top-bar .container img {
  margin-right: 30px;
}

header .top-bar .container ul {
  margin: 0;
}

header .top-bar .container ul li {
  display: inline;
  padding: 0 15px;
}

header .top-bar .container .login-signup {
  margin-left: auto;
}

header .top-bar .container .login-signup .link-cyan {
  color: white;
  margin-left: 36px;
}

header section {
  height: 680px;
  background-image: url("/images/illustration-working.svg");
  background-repeat: no-repeat;
  background-position: calc(100% + 125px) center;
}

header section .hero-text {
  padding-top: 120px;
  max-width: 650px;
}

header section .hero-text h1 {
  margin: 0;
  font-size: 82px;
  line-height: 5rem;
}

header section .hero-text p {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 22px;
}

header section .hero-text .link-cyan {
  padding: 1rem 2.5rem;
}

main .main-top {
  background-color: #eff0f5;
  min-height: 910px;
}

main .main-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-top .container form {
  background-color: #3b3054;
  background-image: url(/images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 170px;
  margin-top: -85px;
  margin-bottom: 20px;
  padding: 52px 64px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-top .container form input, main .main-top .container form button {
  height: 64px;
  border-radius: 12px;
  border-style: none;
}

main .main-top .container form button {
  width: 188px;
  background-color: #2acfcf;
  font-family: inherit;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-left: 24px;
}

main .main-top .container form button:hover {
  background-color: #9ce3e2;
  cursor: pointer;
}

main .main-top .container form .input-and-error {
  width: 100%;
}

main .main-top .container form .input-and-error input {
  width: 100%;
  padding-left: 33px;
  font-size: 24px;
  border-style: solid;
  border-width: 2px;
}

main .main-top .container form .input-and-error input::-webkit-input-placeholder {
  font-family: inherit;
  color: #9e9aa7;
  font-size: 20px;
}

main .main-top .container form .input-and-error input:-ms-input-placeholder {
  font-family: inherit;
  color: #9e9aa7;
  font-size: 20px;
}

main .main-top .container form .input-and-error input::-ms-input-placeholder {
  font-family: inherit;
  color: #9e9aa7;
  font-size: 20px;
}

main .main-top .container form .input-and-error input::placeholder {
  font-family: inherit;
  color: #9e9aa7;
  font-size: 20px;
}

main .main-top .container form .input-and-error em {
  color: #f46262;
}

main .main-top .container .short-url-container {
  margin-bottom: 100px;
}

main .main-top .container section.container-small {
  text-align: center;
}

main .main-top .container section.container-small h2 {
  font-size: 32px;
}

main .main-top .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

main .main-top .container .cards .card {
  position: relative;
  width: 350px;
  height: 270px;
  background-color: white;
  padding: 0 30px 40px 30px;
  border-radius: 12px;
}

main .main-top .container .cards .card:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 45px;
}

main .main-top .container .cards .card:nth-child(2)::before, main .main-top .container .cards .card:nth-child(2)::after {
  content: "";
  width: 30px;
  height: 8px;
  background-color: #2acfcf;
  position: absolute;
  top: 105px;
}

main .main-top .container .cards .card:nth-child(2)::before {
  left: -30px;
}

main .main-top .container .cards .card:nth-child(2)::after {
  right: -30px;
}

main .main-top .container .cards .card:nth-child(3) {
  margin-top: 90px;
}

main .main-top .container .cards .card h3 {
  font-size: 18px;
}

main .main-top .container .cards .card p {
  font-size: 16px;
}

main .main-top .container .cards .card .icon {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  background-color: #3b3054;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -44px;
}

main .cta {
  background-image: url("/images/bg-boost-desktop.svg");
  background-color: #3b3054;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

main .cta .container-small {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .cta .container-small h2 {
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
  font-size: 40px;
}

main .cta .container-small .link-cyan {
  padding: 0.7rem 2.5rem;
}

footer {
  background-color: #232127;
  height: 310px;
}

footer .container {
  height: 100%;
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

footer .container img {
  margin-right: 165px;
}

footer .container ul {
  margin-top: 0;
}

footer .container ul li {
  padding: 5px 0;
}

footer .container h3 {
  margin-top: 0;
  font-size: 18px;
}

footer .container a {
  font-size: 18px;
  color: #9e9aa7;
}

footer .container a:hover {
  color: #2acfcf;
}

footer .container .social li {
  display: inline;
  padding: 0 10px;
}

footer .container .social li a {
  color: white;
  font-size: 1.5rem;
}

footer .container .social li a:hover {
  color: #2acfcf;
}
/*# sourceMappingURL=main.css.map */